<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Blog</title>
    <link rel="stylesheet" href="styles\main.css">
    <link rel="stylesheet" href="styles\footer.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <div class="nav-wrapper">
            <div class="nav-container">
                <div class="logo-container">
                    <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/5930/5930147.png" alt="Logo for a gaming Blog"></a>
                    <a href="/"><h2>Gaming Blog</h2></a>
                </div>
                <div class="links-container">
                    <a href="/"><p>Home</p></a>
                    <a href="/about"><p>About me</p></a>
                    <a href="/contact"><p>Contact</p></a>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>