<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Blog</title>
    <link rel="stylesheet" href="styles\styles.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <%- include("partials/header.ejs") %>
    </header>
    
    <main>
        <div class="about-wrapper">
            <div class="about-container">
                <div class="about-photo">
                    <div>
                        <h1>Hello, I'm Przemek <img id="waving-gif" src="https://media.tenor.com/Py1UPRIlK_YAAAAM/gort-capybara.gif" alt="Waving Capibara"></h1>
                        <img src="https://avatars.githubusercontent.com/u/150724625?s=400&u=340561beee7c758979e1c82e501494cfcbb6a158&v=4" alt="">
                    </div>
                    
                </div>

                <div class="about-info">
                    <div class="about-tile">
                        <div class="about-tile-topic">
                            <h2>About me</h2>
                        </div>
                        <div class="about-tile-topic-info">
                            <p>Hey! I'm Przemek, and I have the pleasure of working as a Quality Assurance professional for a year and a half at Keywords Studios. My role is to provide the highest quality of service within testing as well as working in a team.</p><br>
                            <p>I'm also a computer science student in my fourth semester, where I continuously enhance my skills through various projects. I dedicate most of my study time to self-learning, utilizing free resources and different platforms. Currently, my favorite programming languages are Python and C#, and I enjoy working with MySQL databases as well.</p><br>
                            <p>I am constantly trying to develop my skills, and looking for new challenges and opportunities for development. In my free time I am passionate about sports, computer games, programming, travel and history. I am ready to take on new challenges and cooperation.</p>    
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="about-tile-topic">
                            <h2>Favorite Games</h2>
                        </div>
                        <div class="about-tile-topic-info">
                            <ul>
                                <li>The Witcher 3</li>
                                <li>Red Dead Redemption 2</li>
                                <li>Baldur's Gate 3</li>
                                <li>The Binding Of Isaac</li>
                                <li>Elden Ring</li>
                                <li>Leauge of Legends</li>
                                <li>Disco Elysium</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="about-tile-topic">
                            <h2>Skills</h2>
                        </div>
                        <div class="about-tile-topic-info">
                            <ul>
                                <li>Javascript 🔝</li>
                                <li>Html 🔝</li>
                                <li>CSS 🔝</li>
                                <li>Node</li>
                                <li>EJS</li>
                                <li>Java</li>
                                <li>C#</li>
                                <li>Python</li>
                                <li>SQL</li>
                                <li>Docker</li>
                                <li>Jira 🔝</li>
                                <li>QA 🔝</li>
                            </ul>
                        </div>
                    </div>
                    <div class="about-tile">
                        <div class="about-tile-topic">
                            <h2>Favorite Movies</h2>
                        </div>
                        <div class="about-tile-topic-info">
                            <div class="about-tile-topic-info">
                            <ul>
                                <li>Memories of Murders</li>
                                <li>Inception</li>
                                <li>Seven</li>
                                <li>Joker</li>
                                <li>The Dark Knight</li>
                                <li>Shawshank Redemption</li>
                                <li>Shrek</li>
                                <li>Harry Potter</li>
                                <li>The Silence of the Lambs</li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/contact"><button class="about-button">Contact Me!</button></a>
        </div>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>   
    </footer>
    
</body>
</html>