<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Blog</title>
    <link rel="stylesheet" href="styles\footer.css">
    <link rel="stylesheet" href="styles\header.css">
    <link rel="stylesheet" href="styles\main.css">
    <link rel="stylesheet" href="styles\contact.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4922/4922073.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <header>
        <%- include("partials/header.ejs") %>
    </header>
    
    <main>
        <div class="contact-wrapper">
            <div class="contact-container">
                <div class="contact-info-image">
                    <div class="contact-info">
                        <h1>Contact me</h1>
                        <p>If I catched your attention and you are looking for a person who would really like to change his current life
                            carrier and is willing to give his 100% to get better at programming and at the job I'm the person you are
                            looking for.
                        </p>
                        <p>(This is just a testing page for working with sending emails :D)</p>
                    </div>
                </div>
                <div class="contact-email-window">
                    <form action="/sendEmail" method="POST">
                        <label for="firstName">First Name</label>
                        <input required name="firstName" type="text">
                        <label for="email">Email</label>
                        <input required type="email" name="email">
                        <label for="message">Message</label>
                        <textarea required name="message" rows="4"></textarea>
                        <button>Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include("partials/footer.ejs") %>   
    </footer>
    
</body>
</html>