/* ========== Variables ========== */

:root{
    --night: #000f08ff;
    --gray: #7c7c7cff;
    --french-violet: #731dd8ff;
    --beige: #e9eddeff;
    --russian-violet: #3e2f5bff;
}

/* ========== About me ========== */

.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    border: 3px solid black;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--night);
    padding: 2rem 3rem;
    border-radius: 1rem;
}

.about-photo{
    width: 50%;
    padding: 5px;
}


.about-photo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.about-photo h1{
    font-family: 'Delius';
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
    padding: 0px 15px;
    border-radius: 1rem;
}

#waving-gif{
    width: 50px;
}

.about-photo div img{
    width: 350px;
    border-radius: 50%;
    border: 1px solid black;
}

.about-info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1.5rem;
    padding-top: 1.5rem;
}

.about-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 4px solid var(--night);
    border-radius: 2rem;
    padding: 10px;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--french-violet);
}

.about-tile-topic{
    text-align: center;
    
}

.about-tile-topic h2{
    border-bottom: 2px solid black;
    padding: 0.5rem 2rem;
}


.about-tile-topic-info p{
    line-height: 22px;
    margin: 0;
}

.about-tile-topic-info ul{
    gap: 10px;
    padding: 1rem;
    text-wrap: nowrap;
    margin-top: 0px;
}

.about-tile-topic-info li:not(:last-child) {
    margin-bottom: 7px;
}

.about-button{
    margin-top: 3rem;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: var(--russian-violet);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 2px var(--french-violet);
    margin-top: 2rem;
}