/* ========== Variables ========== */

:root{
    --night: #000f08ff;
    --gray: #7c7c7cff;
    --french-violet: #731dd8ff;
    --beige: #e9eddeff;
    --russian-violet: #3e2f5bff;
}

/* ========== Header ========== */

.nav-wrapper{
    margin: 0;
    background-color: var(--russian-violet);
    color: white;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container a{
    text-decoration: none;
    color: white;
}

.logo-container h2{
    margin: 0;
    font-size: 2rem;
    font-family: "Barlow Condensed";
}

.nav-container img{
    max-width: 75px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 1rem;
}

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

.links-container p{
    font-size: 1.5rem;
}

.links-container a:hover{
    text-decoration:underline;
}