:root{
    --night: #000f08ff;
    --gray: #7c7c7cff;
    --french-violet: #731dd8ff;
    --beige: #e9eddeff;
    --russian-violet: #3e2f5bff;
}

/* Main */

main{
    border: 2px solid yellow;
    background-image: url("backgroundImages/5376788.jpg");
    background-size: cover;
}

.post-wrapper{
    width: 100%;
    border: 2px solid yellow;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    padding: 100px 0px;
}

.postTile{
    height: 100%;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background-color: hsla(235, 33%, 10%, 0.95);
    padding: 1rem 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px whitesmoke;
}

img{    
    max-width: 100%;  
    max-height: 100%; 
    object-fit: cover;
    border-radius: 1rem;
}

/* Jak dodac ten padding to jednego elemntu XDD */
.image-tile{
    margin-bottom: 100px;
}


/* Main */

/* postInformationTile */

.postInformationTile{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.postInformationTile p{
    font-size: 1.2rem;
}

/* postInformationTile */

/* postMainTile */

.postMainTile{

}

/* postMainTile */


/* postImageTile */

.postImageTile{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* take full height of parent */
}

/* postImageTile */


