/* ========== Variables ========== */

:root{
    --night: #000f08ff;
    --gray: #7c7c7cff;
    --french-violet: #731dd8ff;
    --beige: #e9eddeff;
    --russian-violet: #3e2f5bff;
}

/* Main */

.regLog-wrapper{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    padding: 15px;
    height: fit-content;
}

.regLog-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}

.regLog-container a{
    color: black;
}

.regLog-container h2{
    margin-bottom: 0;
}

.regLog-container input{
    min-width: 400px;
}

.regLog-container button{
    background-color: var(--russian-violet);
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 2px var(--french-violet);
}

.regLog-container p{
    margin: 5;
}

.errorMessage{
    color: red;
    font-size: 1.2rem;
    display: none;
}

.successMessage{
    color: green;
    font-size: 1.2rem;
    display: none;
}

/* Main */
