/* ========== Variables ========== */

:root{
    --night: #000f08ff;
    --gray: #7c7c7cff;
    --french-violet: #731dd8ff;
    --beige: #e9eddeff;
    --russian-violet: #3e2f5bff;
}

/* ========== Header ========== */

.nav-wrapper{
    margin: 0;
    background-color: var(--russian-violet);
    color: white;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container a{
    text-decoration: none;
    color: white;
}

.logo-container h2{
    margin: 0;
    font-size: 2rem;
    font-family: "Barlow Condensed";
}

.nav-container img{
    max-width: 75px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 1rem;
}

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
}

.links-container p{
    font-size: 1.5rem;
}

.links-container a:hover{
    text-decoration:underline;
}

/* ========== Main ========== */

body{
    margin: 0;
    height: 100%;
    background-color: var(--beige);
    font-family: "Roboto", "Inter", '"Sans-serif';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    padding: 30px 15px;
    padding-bottom: 45px;
    flex: 1;
}

/* ========== ShowPost ========== */

.main-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 1rem;
}

.postsMain{
    border: 5px solid var(--night);
    border-radius: 10px;
    height: 100vh;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
}

.showPost{
    overflow-y: hidden;
}

.postsMain:hover{
    overflow-y: auto;
}

#upperBarShowPost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0px 10px;
    border-bottom: 6px solid var(--night);
}

#searchSort{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#sortBy button{
    font-size: 1.1rem;
    padding: 5px 30px;
    background-color: white;
    border: 2px solid var(--night);
    border-radius: 1rem;
}

#searchBar input{
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 1rem;
}

.showPost-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post{
    position: relative;
    grid-column-end: span 1;
    min-height: 250px;
    max-height: 250px;
    margin: 1.5rem;
    border: 6px solid var(--night);
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.2rem var(--french-violet),
                -0.3rem -0.3rem 0.2rem transparent;
    transition: box-shadow 0.5s ease-in-out;
}

.post:hover{
    box-shadow: 0.3rem 0.3rem 0.2rem var(--french-violet),
                -0.5rem -0.5rem 0.5rem rgb(0, 0, 0);
}

.post img{
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    border-radius: 5px; 
}

.post h2{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.4);  
    backdrop-filter: blur(6px);
    color: white;
    border-radius: 8px;
    padding: 2px 5px;
}

.post button{
    position: absolute;
    font-weight: bold;
    bottom: 15px;
    right: 10px;
    padding: 5px 20px;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    background: rgba(0, 0, 0, 0.4);  
    backdrop-filter: blur(6px);      
    color: white;                    
    border-radius: 8px;
    cursor: pointer;
    transition: padding 0.4s ease-in-out, font-size 0.4s ease-in-out;
}

.post:hover button{
    padding: 10px 25px;
    font-size: 1.2rem;
}

/* ========== WritePost ========== */

#upperBarWritePost{
    text-align: center;
    padding: 0px 10px;
    border-bottom: 6px solid var(--night);
}

.postForm-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0px;
}

.form-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.4rem;
}

.form-field select{
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 1rem;
}

.form-field input{
    padding: 5px 15px;
    font-size: 1rem;
    border-radius: 1rem;
    border: 2px solid;
    border-color: hsl(0, 0%, 60%);
}

.form-field textarea{
    font-size: 1rem;
}


/* ========== Footer ========== */

.footer-container{
    color: white;
}

.copyright-container{
    display: flex;
    justify-content: center;
    background-color: var(--night);
    padding: 1rem;
}

.copyright-container p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.links-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--russian-violet);
    padding-top: 1rem;
    gap: 1rem;
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-container a{
    color: white;
    text-decoration: none;
}


